# IDE artifacts
.idea

# Python directories
__pycache__
venv

# Frontend directories to ignore
node_modules
dist
_site

# Data files
*.parquet
*.duckdb

# Environemnt variables
.env
.env.test

# Local settings
.vscode/settings.json
.DS_Store
